@import "../../../Sass/scss/variables";

.game-slip-box {
  display: flex;
  flex-direction: column;
  border: 2px solid $Rich-Black;
  width: 5vw;
  height: 15vh;
  background-color: $Dim-Grey;

  button {
    width: 4vw;
    height: 5vh;
    font-size: 8px;
    text-align: center;
    margin-left: 6px;
  }
}
.game-slip-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.game-room {
  width: 80vw;
  height: 30vh;
  border: 2px solid $Tea-Green;
  margin-left: 9.9vw;
  margin-bottom: 5px;
  
  h4 {
    padding-top:0px;
    font-size: 33px;
  }
}

.slip-box{
    display: flex;
    flex-direction: column;
    border:7px solid $Rich-Black;
    padding-top:15px;
    margin: 5px;
    button{
        width: 5vw;
        height: 9vh;
    }
}
.slip-flex{
    margin-left:9.9vw;
    width: 80vw;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-around;
}
@media (max-width: 1300px) {
  .game-room {
    padding-top: 10vh;
  }
}
